*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html{
    background-color: black;
}

.about-me{
    position: relative;
    display: inline-block;
    left: 65%;
    top: 6px;
    background-color: black;
    padding: 5px;
    border-radius: 12px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: white;
    text-align: center;
    position: relative;
    top: 355px;
    font-family: cursive;
    font-size: 70px;
}